<div class="ghost section"></div>
<div class="heading parbase section text">
    <h1 class="">
        НОСКИ
    </h1>
</div>
<div class="parbase section text">
    <p>Носки классического или спортивного фасона — выбирайте новые модели базовых черного и белого цветов или добавьте в ваш образ «изюминку», дополнив его носками с цветными узорами и принтами.</p>
</div>
<div class="productlisting parbase section">


    <!--PAGE:productListing -->
    <div class="catalogwarning parbase">

    </div>

   {{> filter }}

    <!-- ОТОБРАЖАЕТСЯ -->
    <div class="row">
        <div class="model-and-product-switch">
            <div class="grid col-2">
                <ul>
                    <li class="right">
                        <span class="filterinfo">
                            <strong>ОТОБРАЖАЕТСЯ</strong>
                            <span class="load-count">63</span> из
                            <span class="total-count">63</span> товаров
                        </span>
                    </li>
                </ul>
            </div>
            <div class="grid col-7 right">
                <div style="float: right; margin-bottom:20px;">
                    <ul class="hr" style="float: right; margin-right: -9px;">
                        {{#paginate pagination type="first"}}
                        <li {{#if disabled}} class="disabled" {{/if}}><a href="/{{n}}">Первая</a></li>
                        {{/paginate}}
                        {{#paginate pagination type="previous"}}
                        <li {{#if disabled}} class="disabled" {{/if}}><a href="/{{n}}">Пред.</a></li>
                        {{/paginate}}
                        {{#paginate pagination type="middle" limit="4"}}
                        <li {{#if active}} class="active" {{/if}}><a href="/{{n}}">{{n}}</a></li>
                        {{/paginate}}
                        {{#paginate pagination type="next"}}
                        <li {{#if disabled}} class="disabled" {{/if}}><a href="/{{n}}">След.</a></li>
                        {{/paginate}}
                        {{#paginate pagination type="last"}}
                        <li {{#if disabled}} class="disabled" {{/if}}><a href="/{{n}}">Последняя</a></li>
                        {{/paginate}}
                    </ul>
                </div>

            </div>
        </div>
    </div>

   


    <div class="product-items-wrapper">
        <section class="product-items big productlist-row">
            <div class="product-items-content">
                {{# each products}}
                <div class="row">
                    {{# each this}}
                    <div class="grid col-3">
                        <article class="product-item club-price-item" data-articlecode="0301227002">
                            <a href="http://www2.hm.com/ru_ru/productpage.0301227002.html" title="10 пар носков" class="product-item-link">
                                <img width="222" height="333" src="{{this.imagePath}}" class="product-item-image">
                                <button type="button" class="favorite icon icon-favorites js-favorite"
                                        data-saved-text="СОХРАНЕНО КАК ИЗБРАННОЕ"
                                        data-not-saved-text="СОХРАНИТЬ КАК ИЗБРАННОЕ">
                                    СОХРАНИТЬ КАК ИЗБРАННОЕ
                                </button>

                            </a>

                            <div class="product-item-details">
                                <h3 class="product-item-heading">
                                    <a href="http://www2.hm.com/ru_ru/productpage.0301227002.html">{{this.title}}</a>
                                </h3>

                                <strong class="price">
                                   {{this.price}}  &nbsp; ГРН.
                                </strong>


                                <a class="button button-big button-buy product-details-favorite" href="/add-to-cart/{{this._id}}"
                                   data-not-added-text="Вы должны выбрать имеющийся в наличии размер"
                                   data-added-text="Товар добавлен" data-shopping-bag-text="Корзина"
                                   data-shopping-bag-failed-text="При добавлении товара в корзину произошла ошибка"
                                   data-quantity-text="Количество" data-color-text="Цвет" data-size-text="Размер"
                                   data-default-quantity="1" data-sold-out-text="Распродано"
                                   data-not-added-sold-out-text="Изделие данного цвета распродано во всех размерах">Добавить в корзину</a>


                                <!--<ul class="list-swatches">
                                    <li class="item">
                                        <img class="swatch" src="./content/hmprod(1)" alt="Черный" title="Черный">
                                    </li>
                                </ul>-->
                            </div>
                        </article>
                    </div>
                    {{/ each}}
                    <!-- /Product item -->
                </div>
                {{/ each}}
            </div>
        </section>
    </div>


    <div class="pagination pagination-centered">
        <ul>
            {{#paginate pagination type="first"}}
            <li {{#if disabled}} disable="disabled" {{/if}}><a href="?p={{n}}">First</a></li>
            {{/paginate}}
            {{#paginate pagination type="previous"}}
            <li {{#if disabled}} class="disabled" {{/if}}><a href="?p={{n}}">Prev</a></li>
            {{/paginate}}
            {{#paginate pagination type="middle" limit="7"}}
            <li {{#if active}} class="active" {{/if}}><a href="?p={{n}}">{{n}}</a></li>
            {{/paginate}}
            {{#paginate pagination type="next"}}
            <li {{#if disabled}} class="disabled" {{/if}}><a href="?p={{n}}">Next</a></li>
            {{/paginate}}
            {{#paginate pagination type="last"}}
            <li {{#if disabled}} class="disabled" {{/if}}><a href="?p={{n}}">Last</a></li>
            {{/paginate}}
        </ul>
    </div>


    <a class="load-more-link button infinite-scroll"
       data-offset-query-param="offset"
       data-page-size-query-param="page-size"
       data-count-selector=".product-item"
       data-target-selector=".product-items-wrapper"
       data-per-page="30"
       data-per-page-query-param="per_page"
       data-page-query-param="page"
       data-load-more-url="/ru_ru/muzhchiny/vybrat-kategoriyu/noski/_jcr_content/main/productlisting.display.html"
       data-is-product-list="true" href="http://www2.hm.com/ru_ru/muzhchiny/vybrat-kategoriyu/noski/_jcr_content/main/productlisting.display.html"
       aria-hidden="true">Загрузить еще изделия</a>
    <div class="clearfix"></div>
</div>

{{#section 'script'}}



{{/section}}


